.banner {
  &__info {
    background: url("../assets/banner.png") center/cover no-repeat;
    padding: 100px 0 141px 121px;
  }
  &__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 105.3%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #3C3C3C;
  }
  &__text {
    font-size: 16px;
    line-height: 140.8%;
    letter-spacing: 0.02em;
    color: #343434;
  }
  &__btn {
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
    border: none;
    padding: 14px 25px;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #414141;
    cursor: pointer;
  }


  .swiper-button-next,  .swiper-button-prev{
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    &::after {
      font-size: 15px;
      color: black;
    }
  }
  .swiper-button-next {
    right: 30px;
  }
  .swiper-button-prev {
    left: 30px;
  }
}
